body{
   padding: 0;
    margin:0;

    color:white;

    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.container--gradient{
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}
.container--black{
    background-color: black;
    height: 500px;
}
.holder{
    max-width: 1140px;
    width: 1140px;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    
}
.nav__logo--image{
    margin-top: 30px;  
}
.nav__logo{
    flex-grow: 1;
    display: flex;
}
.nav__menu{
    flex-grow: 1;
}
.nav__menu__options{
    display: flex;
    padding: 0;
    margin-top: 30px;
    justify-content: right;
    cursor: pointer;
    margin-right: 40px;
}
.nav__menu__options__list{
    list-style-type: none;
    margin-left: 20px;
}
.open-home{
    display: flex;
    height: 600px;
}
.open-home__welcome{
    position: relative;
    justify-content: left;
    top:11%;
    
}
.open-home__welcome__title{
    flex-grow:1;
    width: 70%;
    font-weight: bold;
    margin: 0;
}
.open-home__welcome__under-title{
    width: 50%;
    padding: 0;
    margin-bottom: 4rem;
    font-size: 1.2rem;
}
.open-home__welcome--cta-button{
    font-size: 1.5rem;
    background-color: rgb(5, 209, 144);
    width: 220px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.open-home__photo{
    display: flex;
    justify-content: right;
    flex-grow:1;
    width: 30%;
}
.open-home__photo--image{
    transform: scale(65%) rotate(-5deg);
    position: relative;
    left:10%;
    border: white solid 2rem;
    border-radius: 5%;
    background-color: white;
    
}

.features{
    height: 400px;
    width: 100%;
}
.features__header{
    width: 100%;
    text-align: center;
    margin-top:3rem;
    q
}
.features__exposure{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.features__exposure--holder{
    flex-grow: 1;
    text-align: center;
    flex-basis: 33%;
}
.features__exposure__item{
    margin-top:2em;
    border-radius: 50%;
    font-size: 2em;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    color: black;  
    padding: 2%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.features__exposure__text{
    width: 70%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.features__exposure__text--margin-top{
   margin-top:1em;
   margin-bottom: 0;
}
.features__exposure__item--margin-off{
   margin:0;
}
.features__exposure__item--up{
    bottom: 8px;
}

.container-grey{
    background-color: rgb(245, 245, 245);
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-holder{
    display: flex;
    color: black;
    justify-content: center;
}
.product-holder__image{
    flex-grow:1;
    width: 50%;
    flex-basis: 50%;
    margin-top: 20px;
   position: relative;
   left:-8em;
}
.product-holder__text{
    flex-grow: 2;
    width: 50%;
    flex-basis: 50%;
    position: relative;
    right:-8em;
}
.product-holder__text__header{
    font-weight: lighter;
    font-size: 2em;
    margin-top: 4em;
    width: 100%;
}

.product-holder__text__description{
    font-size:1.2em;
    width: 400px;
}

.container-grey-plans{
    height: 850px;
    background-color: rgb(245, 245, 245);
}
.plans-header{
    text-align: center;
    color: rgb(16, 16, 16);

    margin-top:4em;
}
.plans-header__title{
    font-size: 2em;
    margin-bottom: 0;
}

.plans-holder{
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 6em;
}
.plans-holder__offert{
    height: 500px;
    width: 350px;
    text-align: center;
}
.plans-holder__offert--shadow{
    box-shadow: 2px 4px 24px 0px rgba(66, 68, 90, 1);
}
.plans-holder__offert__title{
    font-size: 1.5em;
    font-weight: lighter;
}
.plans-holder__offert__price{
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0;
}
.plans-holder__offert__text{
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 4em;
}
.plans-holder__offert__text-hight{
    height: 80px;
}
.plans-holder__offert--button{
    position: relative;
    bottom: -20%;
    background-color: rgb(4, 191, 220);
    width: 7em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: white;
    border-radius: 1em;
    cursor: pointer;
}

.team-title{
    color:black;
    margin-top:4em;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

.team{
    display: flex;
    height: 500px;
    color: black;
    text-align: center;
}
.team__profile{
    width: 400px;
    height:450px;
    text-align: center;
    margin-top: 5em ;
}
.team__profile__icon{
    margin-top: 1.5em;
    font-size: 1.5em;
    padding: 5px;
}
.team__profile__work{
    font-size: 1.2em;
}

.container-footer{
    background-color: rgb(23, 23, 23);
    height:60px
}
.footer-text{
    margin-top: 1.2em;
    position: relative;
    left: 1.5em;
}
.footer-image{
    transform: scale(60%);
}
